flask
numpy
gunicorn
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-generativeai
SpeechRecognition
canvasapi
python-dotenv
flask-wtf
flask-caching
flask-mail
Pillow
requests
firebase-admin
pandas